h1{
  font-size: 2rem;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.form-container{
  margin: 0 -10px 0;
  .mat-form-field{
    padding: 10px;
  }
}

.example-form-con{
  margin:0 -10px 0 ;
}